@model ProductsIndexViewModel
<!-- related products -->
<section class="featured-products">
    <div class="container">
        <div class="title">Related Products</div>
        <div class="product-grid">
            
        </div>
    </div>
</section>

@if (Model.Products != null)
{
    foreach (var product in Model.Products)
    {
        <div class="product-card">
            <div class="product-card-img">
                @if (!string.IsNullOrEmpty(product.ImageUrl))
                {
                    <img src="@product.ImageUrl" alt="@product.ImageUrl">
                }
                <div class="product-card-menu">
                    <nav class="menu-icons">
                        <a class="menu-link" asp-controller="ShoppingCart" asp-action="Index"><i class="fa-regular fa-bag-shopping"></i></a>
                    </nav>
                    <a class="btn btn-theme w-100 d-xl-none" asp-controller="Products" asp-action="Index" asp-route-id=@product.SKU>Show Details</a>
                </div>
            </div>
        </div>
    }
}