@model HomeIndexViewModel


<!-- top selling products -->

<section class="top-selling-products">
    <div class="container">
        <div class="title">Top selling products in this week</div>
        <vr>
    </div>
    <div class="top-selling-products-container">
          <partial name="~/Views/Shared/Partials/Products/_ProductCardsTop.cshtml" />
    </div>
</section>