<!-- breadcrumb -->
<section class="breadcrumb">
    <div class="container">
        <ul>
            <li><a class="menu-link" href="index.html">Home</a></li>
            <li class="active">Contacts</li>
        </ul>
    </div>
</section>


<!-- contact form -->
<section class="contact-form">
    <div class="container">
        <h1>Come in Contact with Us</h1>
        <form method="post">
            <div class="contact-form-name">
                <input id="name" name="name" type="text" placeholder="Your Name">
            </div>
            <div class="contact-form-email">
                <input id="email" name="email" type="email" placeholder="Your Mail">
            </div>
            <div class="contact-form-comments">
                <textarea id="comments" name="comments" placeholder="Comments"></textarea>
            </div>

            <button class="btn-theme" type="submit">Post Comments</button>
        </form>
    </div>
</section>

<!-- google maps -->
<section class="google-maps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2034.2600979112722!2d18.02114141538065!3d59.345306016784434!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f9d9d263b022d%3A0x82fc0f30ed84f9ed!2sNackademin!5e0!3m2!1ssv!2sse!4v1677277793947!5m2!1ssv!2sse" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>