<section class="discount-products-second">
    <div class="special-price-container">
        <div class="discount-products-grid">

            <!-- product 1 -->
            <div class="product-card-container">
                <div class="product-card">
                    <div class="product-card-img">
                        <img src="~/images/ss/369x295product.png" alt="">
                    </div>

                    <div class="product-card-body">
                        <p class="product-card-title">Table lamp 1562 LTG Modal</p>
                        <p class="product-card-description">
                            Best dress for everyone ed totam velit risus 
                            viverra
                        </p>
                        <p class="product-card-description">
                            nobis donec recusandae perspiciatis
                            incididuno
                        </p>
                    </div>
                        <div class="product-card-menu">
                            <nav class="menu-icons">
                                <a class="menu-link" href="#"><i class="fa-regular fa-bag-shopping"></i></a>
                            </nav>
                        </div>
                </div>
            </div>

            <!-- product 2 -->
            <div class="product-card-container">
                <div class="product-card">
                    <div class="product-card-img">
                        <img src="~/images/ss/369x295product.png" alt="">
                    </div>
                    <div class="product-card-body">
                        <p class="product-card-title">Table lamp 1562 LTG Modal</p>
                        <p class="product-card-description">
                            Best dress for everyone ed totam velit risus 
                            viverra
                        </p>
                        <p class="product-card-description">
                            nobis donec recusandae perspiciatis
                            incididuno
                        </p>
                    </div>
                    <div class="product-card-menu">
                        <nav class="menu-icons">
                            <a class="menu-link" href="#"><i class="fa-regular fa-bag-shopping"></i></a>
                        </nav>
                    </div>
                </div>
            </div>

            <!-- product 3 -->
            <div class="product-card-container">
                <div class="product-card">
                    <div class="product-card-img">
                        <img src="~/images/ss/369x295product.png" alt="">


                    </div>
                    <div class="product-card-body">
                        <p class="product-card-title">Table lamp 1562 LTG Modal</p>
                        <p class="product-card-description">
                            Best dress for everyone ed totam velit risus 
                            viverra
                        </p>
                        <p class="product-card-description">
                            nobis donec recusandae perspiciatis
                            incididuno
                        </p>
                    </div>
                        <div class="product-card-menu">
                            <nav class="menu-icons">
                                <a class="menu-link" href="#"><i class="fa-regular fa-bag-shopping"></i></a>
                            </nav>
                        </div>
                </div>
            </div>

        </div>
    </div>
</section>