@{
    ViewData["Title"] = "Shop by Style";
}

<!-- showcase -->
<partial name="~/Views/Shared/Partials/Showcases/_Showcase.cshtml" />

<!--featured products-->
<partial name="~/Views/Shared/Partials/Products/_FeaturedProducts.cshtml" />

<!-- sale banner -->
<partial name="~/Views/Shared/Partials/Showcases/_Showcase2.cshtml" />

<!-- top selling products -->
<partial name="~/Views/Shared/Partials/Products/_TopSellingProducts.cshtml" />

<!-- sale banners 2 -->
<partial name="~/Views/Shared/Partials/Showcases/_Showcase3.cshtml" />

<section>
    <div class="subscripe-container">
        <div class="second-subscribe-container">
            <div class="subscribe-input-container">
                <input class="subscribe-input" placeholder="Enter your mail here" />
                <button class="btn-subscribe">SUBSCRIBE FOR NEWSLETTER</button>
            </div>
        </div>

    </div>
</section>