@model ProductsIndexViewModel
@{
    ViewData["Title"] = "tons of products";
}
<!-- breadcrumb -->
<div class="product-site-container">
    <section class="breadcrumb">
        <div class="products-header">
            <img src="~/images/ss/products-shop-header.jpg" alt="products header">
        </div>
        <div class="container">
            <ul>
                <li><a class="menu-link" href="index.html">Home</a></li>
                <li class="active">Products</li>
            </ul>
        </div>
    </section>

    <!-- product details-->
    <section class="product-detail-container">
        <div class="product-details-second-container">
            <div class="product-details-column-1">
                <div class="product-details-imgs">
                    <img src="~/images/ss/shop-img1.jpg" alt="product detail image">
                </div>
                <div class="product-details-imgs-smaller">
                    <img src="~/images/ss/shop-img-small.jpg" alt="product detail small image">
                    <img src="~/images/ss/shop-img-small.jpg" alt="product detail small image">
                    <img src="~/images/ss/shop-img-small.jpg" alt="product detail small image">
                    <img src="~/images/ss/shop-img-small.jpg" alt="product detail small image">
                </div>
            </div>
            <div class="product-details-column-2">
                <div class="content">
                    <div class="title-2">Young Star Smart Shoe in Fashion</div>
                    <p>
                        Limod tempor individunt ut labore et dolore manga aliquyam erat, sed diam
                        voluptua. At vero eos et accusma et justo duo dolores et ea rebum. Stet slta
                        kasd gubergren, no sea tikmata sanctus est Lorem ipsum dolor sit amet.
                    </p>
                    <hr>
                    <a class="btn btn-theme" asp-controller="Cart" asp-action="idex">Add to Cart</a>

                </div>
            </div>
        </div>
    </section>

    <!-- product description etc.-->
    <section>
    </section>


    <!-- related products-->
    <section>
    </section>

    <!-- product carousele footer-->
    <section>
    </section>

</div>
